.container{
    padding: 50px;
    height: fit-content;
    // width: 90%;
    // background-color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    // background-color: blue    
}